<!--@subject Bienvenue, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
"htmlescape var=$customer.name":"Nom du client",
"store url=\"customer/account/\"":"Url du compte client"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Cher {{htmlescape var=$customer.name}}</strong>,
                            <br/>Bienvenue sur la boutique {{var store.getFrontendName()}}.
                            Pour vous connecter lors de vos visites sur notre boutique, cliquez sur <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Connexion</a> ou <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mon compte</a> en haut de toutes les pages, puis saisissez votre email et votre mot de passe.</p>

                            <p>En vous connectant à votre compte, vous pourrez :</p>

                            <ul>
                                <li>Passer vos commandes plus rapidement</li>
                                <li>Suivre l'évolution de vos commandes</li>
                                <li>Consulter vos anciennes commandes</li>
                                <li>Modifier les informations de votre compte</li>
                                <li>Modifier votre mot de passe</li>
                                <li>Enregistrer plusieurs adresses (afin de faire livrer vos cadeaux à vos proches et vos amis !)</li>
                            </ul>

                            <p>Si vous avez des questions au sujet de votre compte ou à tout autre sujet, n'hésitez pas à nous contacter à <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> ou par téléphone au {{config path='general/store_information/phone'}}.</p>
                            <p>Merci !</p>

							<p><strong>{{var store.getFrontendName()}}</strong></p>

                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
