<!--@subject Nouveau mot de passe pour {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
"htmlescape var=$user.name":"Nom de l'administrateur",
"htmlescape var=$password":"Mot de passe de l'administrateur",
"store url=\"adminhtml/system_account/\"":"Url du compte de l'administrateur"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font: 11px/ 1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%"
	style="margin-top: 10px; font: 11px/ 1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom: 10px;">
	<tr>
		<td align="center" valign="top"><!-- [ header starts here] -->
		<table cellspacing="0" cellpadding="0" border="0" width="650">
			<tr>
				<td valign="top">
				<p><a href="{{store url=""}}" style="color: #1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0" /></a></p>
				</td>
			</tr>
		</table>

		<!-- [ middle starts here] -->
		<table cellspacing="0" cellpadding="0" border="0" width="650">
			<tr>
				<td valign="top">
				<p><strong>Cher {{htmlescape var=$user.name}},</strong>,<br />
				Votre nouveau mot de passe est : {{htmlescape var=$password}}</p>
				<p>Vous pourrez changer votre mot de passe à tout moment en vous connectant à <a href="{{store url="adminhtml/system_account/"}}" style="color: #1E7EC8;">votre compte</a>.
				<p>

				<p>Merci,<br />
				<strong>{{var store.getFrontendName()}}</strong></p>
				</td>
			</tr>
		</table>

		</td>
	</tr>
</table>
</div>
