{* This is a comment block

Use vars: {{var var_name}}
*}<!--@subject Rappel d'échec de transaction de paiement @-->
<!--@vars
{"var reason":"Raison de l'échec de la transaction",
"var checkoutType":"Type de passage de commande",
"var customerEmail":"Email du client",
"var customer":"Nom du client",
"var items":"Articles du panier",
"var total":"Total",
"var billingAddress.format('html')":"Adresse de facturation",
"var shippingAddress.format('html')":"Adresse de livraison",
"var shippingMethod":"Mode de livraison",
"var paymentMethod":"Mode de paiement",
"var dateAndTime":"Date et heure de la transaction"}
@-->

<table>
    <thead>
        <tr>
            <th>Une transaction de paiement a échoué.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>Raison</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>Type de passage de commande</b><br />
                    {{var checkoutType}}
                </p>
                <p>
                    <b>Client :</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>Articles :</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>Total :</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>Adresse de facturation :</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>Adresse de livraison :</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>Mode de livraison :</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>Mode de paiement :</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>Date & heure:</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>